
<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New Image</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/gallery" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="name">
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input id="search_term" class="form-control controls" type="text" name="location" id="location" placeholder="location" required>
                </div>
                <div class="form-group">
                    <label for="location">Description</label>
                    <!--<input class="form-control" type="text" name="description" id="description" placeholder="description" required>-->
                    <textarea class="form-control" type="text" name="description" id="description" placeholder="description" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/gallery">Go Back</a>
        </div>
    </div>
<script>
function activatePlacesSearch() {
    var input = document.getElementById('search_term');
    var autocomplete = new google.maps.places.Autocomplete(input);
}
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCThaQzgey0xeVe-z1t0C5MFKUi4nI9xms&libraries=places&callback=activatePlacesSearch"></script>

<% include ../partials/footer %>