<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Duke Gallery</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style>
          main{
			width: 90%;
			margin:50px auto;
			
			-moz-column-width: 220px;
			-webkit-column-width: 220px;
			column-width: 220px;
			
			-moz-column-count: 3;
			-webkit-column-count: 3;
			column-count: 3;
			
			-moz-column-gap: 20px;
			-webkit-column-gap: 20px;
			column-gap: 20px;
			
		}
		
		a[title] figure img{
			width: 100%;
			height: auto;
			margin-top:1rem;
		}
		
		main a[title]{
			text-decoration: none;
			padding: 1rem;
			color:#424242;
			box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
			display: inline-block;
			
			margin-bottom:20px;
			
			transition: all .3s cubic-bezier(0.25, .8, .25, 1);
		}
		
		main:hover a[title]:not(:hover){
			opacity: .6;
		}
		
		a[title]:hover{
			box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .20);
			
		}  
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <!--<nav class="navbar navbar-default">-->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
        
                    <a class="navbar-brand" href="/">DukeGallery</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li class="<%= typeof page !== 'undefined' && page === 'gallery' ? 'active' : '' %>"><a href="/gallery">Home</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                          <li>
                            <form class="navbar-form" action = "/gallery" method="GET" >
                            <input type="text" name = "search" class="form-control" placeholder="Search Image">
                            <button type="submit" value = "Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </form>
                          </li>
                      <% if(!currentUser){ %>
                          <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                          <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
                      <% } else { %>
                          <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                          <li><a href="/logout">Logout</a></li>
                      <% } %>
                  </ul>
                </div>
            </div>
        </nav>
        <div class="container", style="margin: 35px auto;">
        <h1></h1>
        </div>
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        <!--, style="margin: 100px auto;"-->
        <div class="container">
        <!----------------------------------------    -->
        <header class = "jumbotron">
            <div class = "container">
                 <h1>Welcome to Duke Gallery</h1>
                 <p>Photo adventures in Duke. Have an idea for "photo a day"?</p>
                 <p>
                    <a class="btn btn-primary btn-large" href="/gallery/new">Add New Photo</a>
                 </p>
             </div>
        </header>
        <main>
            <% gallery.forEach(function(photo){ %>
                    <a href="/gallery/<%= photo._id %>" title="<%= photo.name %>">
            			<article>
            				<p>photo.description</p>
            				<figure>
            					<img src="<%= photo.image %>">
            					<figcaption><%= photo.name %></figcaption>
            				</figure>
            			</article>
		            </a>
            <% }); %>
        </main>

        
        
        <!------------------------------------------>
        </div><!-- /.container -->
        <footer class="footer">
              <div class="container">
                <p class="text-muted">&copy; DukeGallery 2018 | <a href="/gallery">Home</a> | <a href="https://www.linkedin.com/in/si-zhang/">About me</a></p>
              </div>
        </footer>
    <!-- jQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>